
MYCONSTANT = "hello"

<% content_for :title, MYCONSTANT %>
<% content_for :description, "I would like to enter keywords and a description of the home page only of my ruby website." %>

<h1>Hey mate</h1>


Some say Black Sails is about you.



<p>Find me in app/views/pages/Home.html.erb</p>
